
/*********************头部样式**********************/

.wrap .app-header{
	width: 100%;
	height: 50px;
	background: #282828;
}

.wrap .app-header .menu{
	display: inline-block;
	width: 48px;
	height: 50px;
	border-right:1px solid #363636;
	text-align: center;
	line-height: 50px;
}

.wrap .app-header .menu i{
	color: #999;
	font-size: 14px;
}

.wrap .app-header .table{
	padding:0 15px;
	height: 50px;
	display: inline-block;
	font-size: 14px;
	color: #efefef;
	line-height: 50px;
}

.wrap .app-header .city{
	padding:0 5px;
	height: 50px;
	line-height: 50px;
	float: right;
	font-size: 14px;
	color: #999;
}
.wrap .app-header .city i{
	display: inline-block;
	transform: scale(0.6);
	padding: 0 03px;
}

.wrap .app-header .person{
	display: inline-block;
	width: 48px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	float: right;
}

.wrap .app-header .person i{
	font-size: 14px;
	color: #999;
}

/*********************侧边栏样式**********************/

.wrap .mask{
	width: 100%;
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0);
	transition: .4s;
	z-index: 2;
}

.wrap .aside{
	width: 70%;
	position: absolute;
	top: 50px;
	left: 0;
	bottom: 0;
	background: #282828;
	border-top: 1px solid #363636;
	transition: .5s;
	z-index: 2;
}

.wrap .aside .table-list{
	width: 100%;
}

.wrap .aside .table-list li{
	height: 50px;
	padding:0 15px;
	border-bottom: 1px solid #363636;
	line-height: 50px;
	font-size: 14px;
	color: #999;
}


.wrap .aside .table-list li i{
	float: right;
	font-size: 10px;
}


.page{
	width: 100%;
	position: absolute;
	left: 0;
	top: 50px;
	bottom: 0;
	background: lavenderblush;
}


